<html>
  <%- include('header',{title: `Keeping Sane`}); -%>
  <div class="container">
    <div class="row">
      <div class="col-0 col-md-1"></div>
      <div class="col-12 col-md-10">
        <h1><%= id.quote %></h1>
      </div>
      <div class="col-0 col-md-1"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="card text-white">
            <a href="/body">
              <img src="/images/body.jpg" class="card-img" />
              <div href="/body" class="card-img-overlay">
                <h5 class="card-title">Body</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <a href="/mind">
            <div class="card text-white">
              <img src="/images/mind.jpg" class="card-img" />
              <div class="card-img-overlay">
                <h5 class="card-title">Mind</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer'); -%>
</html>
