<html>
  <%- include('header',{title: `Keeping Sane`}); -%>
  <h1>Homepage</h1>
  <div>
    <h2>Daily Quote</h2>
  </div>
  <div>
    <h2>Your Status</h2>
  </div>
  <div>
    <h2>Log New</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col" style="text-align: center">
        <a href="/body">Body</a>
      </div>
      <div class="col" style="text-align: center">
        <a href="/mind">Mind</a>
      </div>
    </div>
  </div>
  <%- include('footer'); -%>
</html>
