body {
  background-color: #f1f6f9;
  font-family: "Sarabun", sans-serif;
  color: black;
  height: 100%;
  cursor: pointer;
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: scroll;
}
.card {
  margin: 10px 0px 10px 0px;
}

h1 {
  color: #424642;
  font-family: "Covered By Your Grace", cursive;
  font-size: 35px;
  text-align: center;
  /* background-color: rgba(33, 37, 41, 0.8); */
  padding: 15px;
}

h2 {
  font-size: 30px;
  color: #424642;
  text-align: center;
  padding: 15px;
}

h4 {
  color: #536162;
}

h5 {
  color: whitesmoke;
}

@media (min-width: 768px) {
  #homeCard {
    width: 30vw;
  }
}

.modal-title {
  color: #14274e;
}

form {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

label {
  font-size: 1rem;
  color: #541212;
}

#newtable {
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  max-width: 100vw;
}

#sort {
  max-width: 500px;
}

#new-table-header {
  font-size: 17px;
}

@media (min-width: 768px) {
  #newtable {
    font-size: 15px;
  }
}
